.container {
  position: relative;
  z-index: 1;
  padding: 0px 30px 20px 30px;
}

.bgSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bgSvg circle {
  fill: var(--green);
}

.warnings h1 {
  color: var(--beige);
  font-size: 23px;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
}

.content h1 {
  font-size: 23px;
}

.content a {
  font-size: 12px;
  opacity: 0.5;
  font-weight: bold;
}
