.container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0px 30px 20px 30px;
}

.welcome {
  color: var(--beige);
  font-size: 23px;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 30px;
}

.myplants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myplantsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myplantsTitle h1 {
  font-size: 23px;
}

.myplantsTitle a {
  font-size: 12px;
  opacity: 0.5;
  font-weight: bold;
}

.button {
  background-color: var(--beige);
  border: 2px solid var(--green);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: var(--green);
  height: 52px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.iconPlus {
  font-size: 25px;
}

.bgSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bgSvg circle {
  fill: var(--green);
}
