.container {
  position: relative;
  z-index: 1;
  padding: 0px 30px 20px 30px;
}

.bgSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bgSvg circle {
  fill: var(--green);
}

.welcome{
    color: var(--beige);
    font-size: 23px;

}