.container {
  padding: 0px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: hidden;
}

.title {
  color: var(--green);
  font-size: 36px;
  font-family: var(--font-title);
  font-weight: normal;
}
