.container {
  height: 100%;
  background-color: var(--beige);
  background-image: url("/assets/images/LOGO.png");
  background-position: 50% 70px;
  background-repeat: no-repeat;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: calc(100% - 60px);
}

.form input {
  height: 52px;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  color: var(--brown);
}

.form div {
  display: flex;
  flex-direction: column;
}

.form button {
  height: 52px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: var(--brown);
  background-color: var(--green-light);
}

.form span {
  margin-top: 5px;
  padding-left: 10px;
}

.form a {
  font-weight: bold;
}

.o {
  width: calc(100% - 80px);
  background-color: var(--brown);
  opacity: 0.2;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o span {
  font-weight: bold;
  background-color: var(--beige);
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn {
  height: 52px;
  width: calc(100% - 60px);
  color: #000000;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
