.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.checkBtn {
  color: var(--green-light);
}
.checkBtn:disabled {
  color: grey;
  opacity: 20%;
  cursor: auto;
}

.closeBtn {
  color: red;
}
