:root {
  --beige: #E9E5D6;
  --green-light: #ACB992;
  --green: #464E2E;
  --brown: #362706;
  --white: #F5F5F5;
  --blue: #92B1B9;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  color: var(--brown);
  height: 100dvh;
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  font-family: inherit;
}

@media (max-width: 500px) {
  body {
    background-color: #202020;
  }
}
