.container {
  height: 100%;
  background-color: var(--beige);
  background-image: url("/assets/images/LOGO.png");
  background-position: 50% 70px;
  background-repeat: no-repeat;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.o {
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 80px);
  background-color: var(--brown);
  opacity: 0.2;
}

.o span {
  width: 20px;
  background-color: var(--beige);
  text-align: center;
  font-weight: bold;
}
