.container {
  /* background-color: var(--beige); */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: auto;
}

.lastUpdate {
  font-size: 0.8rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  margin-left: 20px;
}

.label {
  font-weight: bold;
}