/* EDITING INFO */

.editingInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 15px;
  gap: 20px;
}

.editingInfo input {
  border: 1px solid var(--green-light);
  border-radius: 5px;
  padding: 0px 10px;
  color: var(--brown);
}

.confirmEditingInfoBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: var(--green-light);
  border: none;
  background: none;
  cursor: pointer;
}

.editingName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nameInput {
  font-weight: bold;
  max-width: 80%;
  font-size: 24px;
}

.scientificInput {
  max-width: 60%;
  font-size: 14px;
}

.editingAttributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editingAttribute {
  display: flex;
  align-items: center;
  gap: 20px;
}

.editingText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
}

.editingAttributes button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: white;
  padding: 0px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.activeBtn {
  background-color: var(--green-light) !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.attributeInput {
  padding: 0px 2px !important;
  width: 30px;
}

.askingContainer {
  display: flex;
  gap: 10px;
}
.askingBtns {
  display: flex;
  gap: 5px;
}

.locationTypeInput {
  font-size: 15px;
}

.locationType {
  display: flex;
  gap: 5px;
}

.locationPlaceInput {
  font-size: 15px;
  font-weight: bold;
}

/* ICONS */

.iconDrop {
  font-size: 27px;
  opacity: 0.7;
  color: #92b1b9;
}

.iconBag {
  color: #362706;
  font-size: 27px;
  opacity: 0.7;
}

.iconPlant {
  color: #acb992;
  font-size: 30px;
  opacity: 0.7;
}

/* ERRORS */
.errors {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding-left: 20px;
  font-size: 0.8rem;
  color: var(--blue);
  font-weight: bold;
}
