.form {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.form input {
  height: 52px;
  border-radius: 15px;
  font-size: 20px;
  padding: 20px;
  color: var(--brown);
}

.form button {
  height: 52px;
  border: none;
  border-radius: 15px;
  color: var(--brown);
  background-color: var(--green-light);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form span {
  margin-left: 10px;
  margin-top: 5px;
}

.form a {
  font-weight: bold;
}

.errors {
  align-self: center;
  width: 90%;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.errors li {
  list-style-type: none;
}
