.container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: var(--white);
  gap: 5px;
  height: 22px;
  padding: 0px 10px;
  margin-top: 3px;
}

.container span{
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}


.icon{
  font-size: 12px;
}
.regar {
  background-color: var(--blue);
}

.fertilizar {
  background-color: var(--green-light);
}

@media (max-width:360px) {
  .container span {
    font-size: 10px;
  }

  .icon {
    font-size: 10px;
  }
}

@media (min-width:500px) {
  .container span {
    font-size: 10px;
  }
  
  .icon {
    font-size: 10px;
  }  
}
