.container{
  position: relative;
  overflow: hidden;
}

.image{
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.image img {
  object-fit: cover;
  object-position: center;
}
