.container {
  padding: 0px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title h1 {
  color: var(--green);
  font-size: 36px;
  font-family: var(--font-title);
  font-weight: normal;
  line-height: 100%;
}
